<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="app.js" type="module"></script>
    <title></title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="mensaje">
        <h1>{{mensaje}}</h1>
            <div>
                <input type="radio" v-model="objeto" v-bind:value="true">ver
                <input type="radio" v-model="objeto" v-bind:value="false">No ver :3
                <form action="">
                    <input type="text"  v-show="objeto" v-model="nuevoobj">
                    <ul>
                        <li v-show="objeto" v-for="caso of objetos">{{caso}}</li>
                    </ul>
                    <button v-show="objeto"  @click.prevent="nuevoobjt">Crear objeto</button>
                </form>
                </div>
            
    </div>
</body>

</html>